.sass-cache
node_modules
phpdotenv
web/wp
web/app/plugins
web/app/uploads
*.sql
web/app/themes/dehart/js/main.min.js
web/app/themes/dehart/style.css
web/app/themes/dehart/style.css.map
web/app/themes/dehart/external
web/app/mu-plugins/
.env

.DS_Store
web/.DS_Store
web/app/.DS_Store
web/app/themes/.DS_Store
web/app/themes/dehart/.DS_Store
web/app/themes/dehart/inc/.DS_Store

.idea/