.sass-cache
node_modules
phpdotenv
web/wp
web/app/plugins
web/app/uploads
*.sql
web/app/themes/{{ name }}/js/main.min.js
web/app/themes/{{ name }}/style.css
web/app/themes/{{ name }}/style.css.map
web/app/themes/{{ name }}/external
web/app/mu-plugins/
.env

.DS_Store
web/.DS_Store
web/app/.DS_Store
web/app/themes/.DS_Store
web/app/themes/{{ name }}/.DS_Store
web/app/themes/{{ name }}/inc/.DS_Store

.idea/