.contact-info{
  color: $soft-white;
  .row {
    background: $darker-blue;
    padding:15px 0;
    .address, 
    .contact{

    }
    .address{
      h2{
        text-decoration: underline;
      }
      a{
        color: $soft-white;
        &:hover,
        &:focus,
        &:active{
          color: $lightest-orange;
        }
      }
      iframe{
        padding-top: 5px;
      }
    }
    .contact {
      #gform_wrapper_1 {
        form {
          .gform_body {
            #gform_fields_1 {
              li {
                clear: none !important;
                .ginput_container {
                  input,
                  textarea{
                    width: 100% !important;
                    color: #000;
                  }
                }
              }
            }
          }
          .gform_footer {
            text-align: center;
            #gform_submit_button_1{
              width: 33%;
              border-radius: 4px;
              border: none;
              color: #eee;
              background: #BA3F0B;
              transition: all .2s ease-in-out;
              &:hover{
                background-color: $lightest-orange;
                transition: all .2s ease-in-out;
              }
            }
          }
          .validation_error{
            background: rgba(255,223,224,.25);
          }
        }
      }
    }
  }
}