$fa-font-path: "./external/font-awesome/fonts";
$slick-font-path: "../external/slick-carousel/slick/fonts/";
$slick-loader-path: "./external/slick-carousel/slick/";
$icon-font-path: "./external/bootstrap-sass/assets/fonts/bootstrap/";
$top-footer-height: "580px";
$headerFontName: "Montserrat";
$bodyFontName: "Ubuntu";
$headerFont: $headerFontName, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$bodyFont: $bodyFontName, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/** Colors **/


$soft-white: #eee;

$lightest-blue: #0B5797;
$lighter-blue: #0F4878;
$base-blue: #0B3A61;
$darker-blue: #052744;
$darkest-blue: #031728;

$lightest-yellow: #EBB102;
$lighter-yellow: #BA8F0B;
$base-yellow: #977408;
$darker-yellow: #695000;
$darkest-yellow: #3E2F00;

$lightest-orange: #EB4802;
$lighter-orange: #BA3F0B;
$base-orange: #973308;
$darker-orange: #691F00;
$darkest-orange: #3E1300;